@import './constants.css';

#input-auth {
    width: 70%;
    height: 3rem;
    font-size: 1.2rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    border: none;
    padding: 0.3rem;
}

#input-auth:focus {
    outline: none;
    border: none;
}