.main-container {
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

#index-title{
  font-size: 3.5rem;
  font-weight: 800;
  margin-top: 0.5rem;
}

#title-lower{
  margin-top: 0.5rem;
}

.prompt-form {
  width: 80%;
  margin-top: 0.5rem;
}